#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
php:
	date.timezone: Europe/Prague

parameters:
	gallery:
		dir: galleries
		cache: cache
		width: 160
		height: 140
